@charset "UTF-8";
/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%; }
  #homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0;
    font-size: 105px; }
  #homepage-slider .homeslider-description {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 10px 20px 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 33.6%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.55);
    overflow: hidden; }
    #homepage-slider .homeslider-description h2 {
      font: 300 100%/0.98em "Lato", sans-serif;
      color: white;
      margin: 0;
      padding: 0;
      position: relative;
      text-transform: uppercase; }
  @media (min-width: 1199px) {
    #homepage-slider:hover .homeslider-description {
      top: 38%; } }

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
#homepage-slider .homeslider-container {
  position: relative; }
#homepage-slider .homeslider-image {
  position: absolute;
  left: 0;
  top: 0; }
#homepage-slider .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1; }
  #homepage-slider .bx-wrapper a {
    display: block; }
  #homepage-slider .bx-wrapper img {
    display: block;
    max-width: 100%;
    height: auto; }
#homepage-slider .bx-wrapper .bx-viewport {
  width: 100%; }
#homepage-slider .bx-wrapper .bx-pager,
#homepage-slider .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 999; }
#homepage-slider .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }
#homepage-slider .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }
#homepage-slider .bx-wrapper .bx-pager .bx-pager-item,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 3px solid #fff;
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff; }
#homepage-slider .bx-wrapper .bx-prev {
  left: 0; }
  #homepage-slider .bx-wrapper .bx-prev:after {
    content: "\f104"; }
#homepage-slider .bx-wrapper .bx-next {
  right: 0; }
  #homepage-slider .bx-wrapper .bx-next:after {
    content: "\f105"; }
#homepage-slider .bx-wrapper .bx-controls-direction a.bx-prev:after {
  left: -3px; }
#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:after {
  left: 3px; }
#homepage-slider .bx-wrapper .bx-controls-direction a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 47.5%;
  outline: 0;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  z-index: 9999;
  background: #000;
  border: none; 
  margin:0}
  @media (max-width: 767px) {
    #homepage-slider .bx-wrapper .bx-controls-direction a {
      width: 30px;
      height: 35px; } }
  #homepage-slider .bx-wrapper .bx-controls-direction a:after {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    width: 48px;
    height: 48px;
    color: white;
    text-indent: 0;
    text-align: center;
    font-size: 35px;
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0; 
	line-height:48px;	
	}
    @media (max-width: 767px) {
      #homepage-slider .bx-wrapper .bx-controls-direction a:after {
        font-size: 24px;
        top: -9px;
        width: 31px;
        left: 16px;
        height: 43px;
		line-height:43px;
		 } }
  #homepage-slider .bx-wrapper .bx-controls-direction a:hover:after {
    color: #777; }
@media (min-width: 1199px) {
  #homepage-slider:hover .bx-wrapper .bx-controls-direction a {
    top: 51.9%; } }
#homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
  display: none; }
#homepage-slider .bx-wrapper .bx-controls-auto {
  text-align: center; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }
  #homepage-slider .bx-wrapper .bx-controls-auto .bx-start:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }
  #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff; }
	
#homepage-slider .bx-wrapper .bx-controls .bx-controls-auto {
  right: 15px;
  width: 35px;
  top: 15px; }
#homepage-slider .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }
  
#homepage-slider .bx-wrapper .bx-caption span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: .85em;
  padding: 10px; }

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
  background: #1b1b1b; }

#bx-pager-thumb {
  text-align: center;
  padding: 10px 0; }
  #bx-pager-thumb a {
    display: inline-block;
    max-width: 150px;
    width: 31%; }
    #bx-pager-thumb a img {
      max-width: 100%;
      height: auto; }
