<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tmproductvideos</name>
	<displayName><![CDATA[TM Product Videos]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module allow add videos to product.]]></description>
	<author><![CDATA[Template Monster (Alexander Grosul)]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>