/*
 * ---------------------------------------------------------
 *
 * 23. Mobile responsive 767px
 *
 * ---------------------------------------------------------
 */
@media (max-width: 767px) {
    
  .column1{width:35%;}
  .column2{width:35%;}
  .sticker #button{ 
    display: block;
    margin: 10px auto;
    
    
    }
       .sticker{ line-height: 24px;}
    
}

/*
 * ---------------------------------------------------------
 *
 * 24. Mobile responsive 540px
 *
 * ---------------------------------------------------------
 */
@media (max-width: 540px) {
    
    .column1{width:40%;}
  .column2{width:40%;}
  
}


/*
 * ---------------------------------------------------------
 *
 * 25. Mobile responsive 480px
 *
 * ---------------------------------------------------------
 */
@media (max-width: 480px) {
    
       .column1{width:100%;}
  .column2{width:100%; float: left;}
   #mainbottom img{width:100%;}
   .mainbottomtext{line-height: 20px;}

    
}

/*
 * ---------------------------------------------------------
 *
 * 26. Mobile responsive 380px
 *
 * ---------------------------------------------------------
 */
@media (max-width: 400px) {
    
   
}

/*
 * ---------------------------------------------------------
 *
 * 27. Tablet device Landscape 1024px and 768px
 *
 * ---------------------------------------------------------
 */
@media (max-width: 1024px) and (min-width: 768px) {
    
   

   
   

}

/*
 * ---------------------------------------------------------
 *
 * 28. Tablet device Portrait 768px and 1024px
 *
 * ---------------------------------------------------------
 */
@media (max-width: 1024px) and (orientation:portrait) {
    
 


}

/*
 * ---------------------------------------------------------
 *
 * 29. Desktop medium screen 1024px
 *
 * ---------------------------------------------------------
 */
@media (max-width: 1024px) {
 

}


/*
 * ---------------------------------------------------------
 *
 * 30. Desktop medium screen 992px and 1199px
 *
 * ---------------------------------------------------------
 */
@media (min-width: 992px) and (max-width: 1199px) {
 
   

   
   
    
}

/*
 * ---------------------------------------------------------
 *
 * 30. Desktop medium screen 992px and 1199px
 *
 * ---------------------------------------------------------
 */
@media (min-width: 992px) and (max-width: 1199px) {
 
    
    
    
    
}

/*
 * ---------------------------------------------------------
 *
 * 31. Desktop large screen 1200px
 *
 * ---------------------------------------------------------
 */
@media (min-width: 1200px) {
    
 
}

/*
 * ---------------------------------------------------------
 *
* *****************************Screens*********************
 *
 * ---------------------------------------------------------
 */

